<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Counter</title>
        <meta description='Counter Page for CD_Flask_Counter assignment at Coding Dojo'>
        <meta charset='utf-8'/>
    </head>
    <body>
        <div id='wrapper'>
            <h1>Page Counter</h1><br>
            <p> Page Counter (this session): <strong>{{ session['counter'] }}</strong> </p>
        </div>
        <form method="POST" action="/plustwo">
            <input type="submit" name="plustwo" value="plustwo">
        </form>
    </body>
</html>